__pycache__/

fairseq/bart.large*
fairseq/crawled/

hf/data/*/

!hf/data/dd/
hf/data/dd/*/*/

!hf/data/dd/dial/sorted/

hf/bart/*.sh
hf/bart/lightning_logs/

hf/roberta/*.sh
hf/roberta/lightning_logs/
